{% extends '../common/base.swig' %}

{% block page-header %}{{title}}{% endblock %}
{% block article %}baz article{% endblock %}
{% block aside %}baz aside{% endblock %}
{% block footer %}baz footer{% endblock %}
