{% extends '../../common/base.swig' %}

{% block page-header %}{{title}}{% endblock %}

{% block article %}foobz article{% endblock %}
{% block aside %}foobz aside{% endblock %}
{% block footer %}foobz footer{% endblock %}
