<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{global.router.current.route}}{% endblock %}</title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <style type="text/css">
    header, section, footer, aside, nav, article, figure, audio, video, canvas  { display:block; }
  </style>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Code+Pro:200,300,400,500,600,700,900">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
  <header>
    <h1><a href="/">{{global.title}}</a></h1>
    <h2>{% block page-header %}{% endblock %}</h2>
  </header>
  <nav>
    {% block nav %}
      <ul>
        {% for id, route in global.router.routes %}
          <li>
            {% if global.router.current.id == id %}
              <strong><a href="{{route.route}}">{{route.title}}</a></strong>
            {% else %}
              <a href="{{route.route}}">{{route.title}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
  </nav>
  <section id="content">
    {% block article %}
      {% for article in articles %}
        <h3>{{article.title}}</h3>
        <p>{{article.text}}</p>
      {% endfor %}
    {% endblock %}
  </section>
  <aside>{% block aside %}{% endblock %}</aside>

  <footer>{% block footer %}{% endblock %}</footer>
  <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
